a {
    text-decoration: none;
    color:rgb(230, 246, 248);
    font-weight: 200;
    font-size: large;
}

img {
    position: absolute;
    right: 0;
    margin: 45px;

}

p{
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 13px;
    width: 350px;
}
