{% extends 'base.html' %} {% block content %}
<head>
    <title>Guidelines</title>
</head>

<body>
    <h1>Attacat360 guidelines</h1>
    <div>
        <p>
            Welcome to the Attacat 360 process. This happens every March and September and is an
            opportunity for an open conversation with your line manager around:
        </p>
        <ul>
            <li>Feedback you have received from your colleagues</li>
            <li>Feedback from your line manager</li>
            <li>Objectives for the coming months</li>
            <li>Career and personal goals</li>
            <li>Training requests</li>
            <li>Issues you want to raise</li>
            <li>Salary review</li>
        </ul>

    </div>
    <h1>Star ratings</h1>
    <p>
        Please note the following general guidance around star interpretation:
    </p>
    <ul>
        <li>Serious work required</li>
        <li>Some work required</li>
        <li>Meets the expected high standard of an Attacat</li>
        <li>Exceeds the high standard</li>
        <li>Is an absolute superstar</li>
    </ul>
    <div>

    </div>
</body>

{% endblock %}