<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Attacat360 Login</title>
  </head>

  <body>
    <img src = "../static/attacat-logo.png" alt = "attacat-logo"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

    <div class="google-btn">
    <div class="google-icon-wrapper">
    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
    </div>
    <a class="btn-text" href="/login"><b>Sign in with google</a></p>
    </div>

  </body>
</html>